@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A; /* navy blue */
  --color-secondary: #059669; /* pharma green */
  --color-accent: #38BDF8; /* light blue */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}